@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --main-color: #7d000b;
}


/*---------------------------------------------------------------*/
.mobileSwiper {
    display: none;
}

.swiper-container {
    width: 100%;
    height: 600px;
    margin-top: 100px;
    overflow-x: hidden;
  }

  .swiper-slide {
      width: 100%;
      height: 600px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

  /* .c-info {
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  } */
  
  .carousel-text {
    color: #fff;
    width: 850px;
    line-height: 4.8rem;
  }
  
  .carousel-text h2 {
    font-size: 55px;
    font-weight: 300;
    letter-spacing: -0.02em;
  }
  
  .carousel-text h1 {
    font-size: 73px;
    letter-spacing: -0.04em;
  }
  
  .carousel-text p {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.02em;
  }
  
  .download {
    width: 230px;
    height: 50px;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    line-height: 48px;
    border: 1px solid #fff;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .download:hover {
    color: #000;
    background-color: #fff;
    transition: .3s;
  }

  .swiper-slide {
      width: 100%;
      height: auto;
      background-size: cover;
      background-position: left;
  }
  
  .swiper-slide:nth-child(1) {
    background: url(../images/bg.jpg) no-repeat;
  }

  .swiper-slide:nth-child(2) {
    background: url(../images/bg1.jpg) no-repeat;
  }

  .swiper-slide:nth-child(3) {
    background: url(../images/bg2.jpg) no-repeat;
  }

/*---------------------------------------------------------------*/
header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0; left: 0;
    padding-top: 0;
    height: 100px;
    z-index: 9999;
    transition: top 0.2s ease-in-out;
}

.nav-up {
    top: -100px;
}

.nav-down {
    background-color: #fff;
    box-shadow: 0 0 5px #444;
}

.nav-wrapper {
    width: 100%;
    height: 100px;
    background-color: #fff;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* header:hover {
    background-color: #fff;
    transition: .4s;
    z-index: 3;
}

header:hover .dropdown {
    top: 10vh;
    transition: .3s;
}

header:hover .dropdown ul li {
    opacity: 1;
    transition: .9s;
}

header:hover .logo_hover {
    display: block;
}

header:hover .logo {
    display: none;
}

header:hover .menu li {
    color: #000;
}

header:hover .gnb li {
    color: #777;
}

header:hover .reservBtn {
    border: 1px solid #777;
    transition: .4s;
}

header:hover .reservBtn:hover {
    color: #fff;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
} */

nav {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin-top: 70px;
    letter-spacing: -0.0525em;
}

.menu li a:hover {
    color: var(--main-color);
    transition: .4s ease;
}

.menu li a::after {
    content: '';
    width: 0%;
    height: 5px;
    background-color: var(--main-color);
    margin: 33px auto;
    display: block;
    transition: .4s ease;
}

.menu li a:hover::after {
    width: 100%;
}

nav input {
    display: none;
}

nav label {
    display: none;
}

.mobile-menu {
    display: none;
}


/*---------------------------------------------------------------*/
.logo_hover {
    display: none;
}

.menu li {
    color: #333;
    font-size: 17px;
    font-weight: 700;
    display: inline-block;
    margin-left: 80px;
    letter-spacing: -0.0625em;
}

.menu li:last-child {
    margin-right: 60px;
}

.gnb li {
    display: inline-block;
}

.reservBtn {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.2em;
    padding: 10px 50px;
    background-color: var(--main-color);
    cursor: pointer;
    transition: .3s ease;
}

.reservBtn:hover {
    background-color: #b6000f;
}


/*---------------------------------------------------------------*/
.article {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.article-wrapper {
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.article1 {
    height: 650px;
    background-image: url(../images/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.a-text {
    padding-left: 30px;
}

.title-wrapper {
    color: #222;
    line-height: 50px;
    margin-bottom: 30px;
}

.title-wrapper h4 {
    font-size: 25px;
    font-weight: 300;
    letter-spacing: -0.02em;
    font-family: 'Nanum Myeongjo', serif;
}

.title-wrapper h1 {
    font-size: 55px;
    font-weight: 800;
    letter-spacing: -0.04em;
    margin-bottom: 20px;
    font-family: 'Nanum Myeongjo', serif;
}

.a-text p {
    color: #555;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    font-family: 'Nanum Myeongjo', serif;
}

.button {
    float: right;
    margin-top: 50px;
    padding: 0 10px;
}

.button span {
    font-size: 20px;
    font-weight: 800;
    font-family: 'Nanum Myeongjo', serif;
}

.button i {
    font-size: 18px;
}

.button:hover {
    transform: translateX(10px);
    transition: .5s ease-in-out;
}

.button::after {
    content: '';
    width: 0%;
    height: 3px;
    display: block;
    background-color: #222;
    margin-top: 7px;
}

.button:hover::after {
    width: 100%;
    transition: .5s ease-in-out;
}


/*---------------------------------------------------------------*/
.article2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a97d61;
}

.start-wrapper {
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-wrapper h4 {
    color: #493528;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.05em;
    margin-top: 120px;   
}

@keyframes blink-effect {
     25% { opacity: 1;}
     50% { opacity: 0; } 
     75% { opacity: 1; }
     100% { opacity: 1;}
}

.start-wrapper h4 em {
    color: yellow;
    font-style: normal;
    font-weight: 700;
    animation: blink-effect 2s infinite;
    animation-duration: 4s;
}

.start-title {
    line-height: 5.5rem;
    text-align: center;
}

.start-title h5 {
    color: #fff;
    font-size: 45px;
    font-weight: 200;
    letter-spacing: -0.05em;
}

.start-title h1 {
    color: #fff;
    font-size: 90px;
    font-weight: 500;
    letter-spacing: -0.05em;
}

.start-title h1 em {
    color: #493528;
    font-style: normal;
    font-weight: 800;
}

.circle-wrapper {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 250px;
    height: 250px;
    margin: 0 20px;
    background-color: #fff;
    border-radius: 250px;
    border: 5px solid #8f6c56;
    box-shadow: 0 0 5px #eee;
    text-align: center;
    padding-top: 44px;
    line-height: 3rem;
}

.circle h2 {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.04em;
}

.circle p {
    color: #aaa;
    font-size: 20px;
    font-weight: 500;
    text-decoration : line-through;
    position: relative;
}

.circle h1 {
    color: #ff3131;
    font-size: 80px;
    font-weight: 800;
    letter-spacing: -0.04em;
}


/*---------------------------------------------------------------*/
.articlex {
    height: 100vh;
    background-image: url(../images/fire.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.articlex p {
    color: #aaa;
    font-size: 25px;
    margin-top: 120px;
}

.x-wrapper {
    text-align: center;
    line-height: 170px;
}

.x-wrapper h4 {
    color: #fff;
    font-size: 100px;
    font-weight: 500;
    font-family: 'Yeon Sung', cursive;
}

.x-wrapper h2 {
    color: #fff;
    font-size: 190px;
    font-weight: 800;
    font-family: 'Yeon Sung', cursive;
}

.x-wrapper em {
    color: red;
    font-style: normal;
    text-shadow: 3px 3px 0 #fff;
    font-family: 'Yeon Sung', cursive;
}



/*---------------------------------------------------------------*/
.article3 {
    background-image: url(../images/background1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    padding: 120px 0;
}

.wrapper2 {
    flex-direction: column;
    justify-content: center;
}

.wrapper2 h1 {
    font-size: 50px;
    font-weight: 800;
    font-family: 'Nanum Myeongjo';
    margin-bottom: 10px;
}

.wrapper2 h5 {
    font-size: 22px;
    font-weight: 300;
    font-family: 'Nanum Myeongjo';
    margin-bottom: 30px;
}

.menu-wrapper {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu-image {
    height: 300px;
    overflow: hidden;
}

.menubox {
    width: 350px;
    height: 450px;
    margin: 20px;
    box-shadow: 1px 1px 6px #ddd;
    background-color: #fff;
    position: relative;
    cursor: pointer;
}

.menu-info {
    padding: 20px;
}

.menu-info h3 {
    color: #222;
    font-size: 24px;
    font-weight: 500;
}

.menu-info p {
    color: #666;
    font-size: 17px;
    font-weight: 300;
}

.menubox img {
    transition: .4s ease;
}

.menubox img:hover {
    transform: scale(1.1);
}


/*---------------------------------------------------------------*/
.article4 {
    height: 50vh;
    color: #eee;
    background-image: url(../images/background4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.wrapper3 h1 {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -0.04em;
}

.worry {
    text-align: center;
}

.worry h3 {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -0.05em;
}

.worry p {
    width: 730px;
    font-size: 20px;
    font-weight: 200;
    margin-top: 20px;
}

.worry em {
    color: rgb(255, 229, 81);
    font-style: normal;
    font-weight: 500;
}

/*---------------------------------------------------------------*/
.ask {
    border: none;
    outline: none;
    width: 600px;
    height: 70px;
    color: #222;
    font-size: 22px;
    font-weight: 500;
    background-color: rgb(255, 229, 81);
    margin: 60px 0;
    transition: all .3s ease;
    cursor: pointer;
}

.form-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
  }

  .form-modal.show {
    display: block;
  }

  .ask-form {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 800px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transform: translateX(-50%) translateY(-50%);
  }

.ask-form iframe {
    width: 100%;
    height: 760px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal.show {
    display: block;
  }

  .modal_body p {
      color: #555;
      height: 770px;
      overflow: scroll;
      overflow-x: hidden;
  }

/*---------------------------------------------------------------*/
.personal-info {
    display: none;
}

.personal-items {
    display: none;
}

.personal-btn {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    cursor: pointer;
}

.personal-btn:hover {
    text-decoration: underline;
}

.personal-items {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 800px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transform: translateX(-50%) translateY(-50%);
    z-index: 9999;
}

.personal-items p {
    color: #555;
    height: 740px;
    font-size: 14px;
    overflow: scroll;
    overflow-x: hidden;
}

.personal-info:checked ~ .personal-items {display: block;}


/*---------------------------------------------------------------*/
.footer {
    color: #aaa;
    background-color: #222;
    padding: 30px 0;
}

.footer-wrapper {
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper img {
    opacity: .4;
}

.f-text {
    width: 630px;
    font-size: 14px;
}

.f-text h3 span {
    color: #777;
    font-weight: 500;
}


/*---- ------------------------popup-----------------------------*/
.divpop {
    position: fixed;
    top: 180px; left: 100px;
    width: 900px;
    height: 627px;
    box-shadow: 1px 1px 7px rgba(0,0,0,.4);
    background-color: #fff;
    display: none;
    z-index: 999;
}

.title_area {
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.button_area {
    position: absolute;
    bottom: 4px; right: 1px;
    font-size: 14px;
} 

.closebtn {
    padding: 4px 12px;
    font-size: 12px;
    background-color: #ddd;
}


/*---------------------------------------------------------------*/
@media (max-width: 1400px) {
    .articlex {
        padding: 50px 0;
    }
    
    .x-wrapper {
        line-height: 130px;
    }

    .x-wrapper h2 {
        font-size: 130px;
    }
}

@media (max-width: 1300px) {
    .mySwiper {
        display: none;
    }

    .mobileSwiper {
        display: block;
        height: auto;
        padding-top: 100px;
    }

    .mobileSwiper img {
        width: 100%;
    }
        
    nav {
        width: 100%;
        padding: 0 20px;
    }

    nav label {
        display: flex;
    }

    .menu {
        display: none;
    }

    .gnb {
        display: none;
    }

    .mobile-menu {
        display: block;
        position: absolute;
        top: 0; left: -100%;
        width: 100%;
        height: 130px;
        margin-top: 100px;
        background-color: #fff;
        z-index: 998;
    }

    .mobile-menu li {
        display: block;
        text-align: center;
        margin-left: 0;
        padding: 30px 0;
        font-size: 20px;
        color: #444;
    }

    .menuBtns {
        padding: 0x 2px;
        display: inline-block;
        cursor: pointer;
        z-index: 999;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 3px;
        background-color: var(--main-color);
        margin: 8px 0;
        transition: .3s;
      }
      
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
        background-color: var(--main-color);
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-9px, -7px);
        transform: rotate(45deg) translate(-9px, -7px);
        background-color: var(--main-color);
      }

    #check:checked ~ .mobile-menu {left: -0;}

    .a-text {
        padding-left: 0;
        padding-bottom: 60px;
    }

    .article1 {
        height: auto;
        padding-top: 60px;
    }

    .article-wrapper {
        width: 100%;
        flex-wrap: wrap;
        padding: 0 20px;
    }

    .bi {
        width: 100%;
        margin-bottom: 30px;
    }

    .button {
        margin-bottom: 30px;
    }

    .article2 {
        height: auto;
        padding: 60px 0;
        background-position: right;
    }

    .title-wrapper {
        padding: 0 20px;
    }

    .t-text {
        width: 100%;
    }

    .menu-wrapper {
        width: 100%;
        flex-wrap: wrap;
    }

    .article2 {
        height: auto;
        padding: 30px 20px;
    }

    .articlex {
        height: auto;
        padding: 80px 20px;
    }

    .start-wrapper {
        width: 100%;
    }

    .start-wrapper h4 {
        margin-top: 50px;
    }

    .circle-wrapper {
        flex-wrap: wrap;
        margin-top: 40px;
    }

    .circle {
        margin-top: 30px;
    }

    .footer-wrapper {
        width: 100%;
        padding: 0 20px;
    }
}

@media (max-width: 1000px) {
    .popup form {
        display: none;
    }
}

@media (max-width: 850px) { 
    .start-title {
        line-height: 3.5rem;
    }

    .start-title h5 {
        font-size: 30px;
    }

    .start-title h1 {
        font-size: 60px;
    }
    
    .x-wrapper {
        line-height: 80px;
    }

    .x-wrapper h4 {
        font-size: 50px;
    }

    .x-wrapper h2 {
        font-size: 75px;
    }

    .worry {
        padding: 0 20px;
    }

    .worry p {
        width: 100%;
    }

    .footer-wrapper {
        flex-direction: column-reverse;
        justify-content: baseline;
        align-content: flex-start;
    }

    .f-text {
        width: 100%;
    }

    .footer-wrapper img {
        margin-bottom: 20px;
    }
}

@media (max-width: 700px) {
    .t2 h4 {
        font-size: 40px;
    }

    .t-text {
        color: #fff;
        font-size: 18px;
    }

    .worry p {
        text-align: left;
    }

    .wrapper2 h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .wrapper2 h5 {
        font-size: 16px;
    }

    .modal_body {
        width: 90%;
        height: 60vh;
        padding: 20px;
      }

    .modal_body p {
        color: #555;
        height: 55vh;
        overflow: scroll;
        overflow-x: hidden;
    }
}

@media (max-width: 600px) {
    .article2 {
        padding: 80px 0;
    }
    
    .article3 {
        padding: 40px 0;
    }

    .articlex p {
        font-size: 15px;
        margin-top: 30px;
    }
    
    .logo {
        width: 190px;
    }

    nav {
        padding: 0 10px;
    }

    .title-wrapper h1 {
        font-size: 40px;
    }

    .title-wrapper h4 {
        font-size: 22px;
    }

    .start-title {
        line-height: 3rem;
    }

    .start-title h1 {
        font-size: 40px;
    }

    .circle-wrapper {
        margin-top: 20px;
    }

    .x-wrapper {
        line-height: 60px;
    }

    .x-wrapper h2 {
        font-size: 50px;
    }

    .x-wrapper em {
        text-shadow: 1px 1px 0 #fff;
    }

    .worry h3 {
        font-size: 28px;
    }

    .worry p {
        font-size: 17px;
    }

    .ask {
        width: 100%;
    }

    .ask-form {
        width: 90%;
        height: 550px;
        padding: 5px 0;
    }

    .ask-form iframe {
        height: 520px;
    }

    .personal-items {
        width: 90%;
        height: 350px;
    }

    .personal-items p {
        height: 290px;
    }

}

@media (max-width: 360px) {
    .menubox {
        width: 100%;
    }
}

/* -------------------------------------------------------------- */
.top {
    right:30px;
    bottom:30px;
    position:fixed;
    z-index:9999;
    width: 30px;
    height: 30px;
}

.top:hover {
    opacity: 1;
}
